@page "/login"
@*@page "/"*@
@layout EmptyLayout
@inject IAuthService authService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider
@inject IToastService ToastService

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url(assets/media/bg/bg-1.jpg);">
                <div class="login-form text-center text-white p-7 position-relative overflow-hidden">
                    <!--begin::Login Header-->
                    <div class="d-flex flex-center mb-15">
                        <a href="#">
                            <img src="assets/media/logos/logo-letter-9.png" class="max-h-100px" alt="" />
                        </a>
                    </div>
                    <!--end::Login Header-->
                    @if (showLogin)
                    {
                        <!--begin::Login Sign in form-->
                        <div class="login-signin">
                            <div class="mb-20">
                                <h3>Đăng nhập vào Admin</h3>
                                <p class="opacity-60 font-weight-bold">Nhập tài khoản mật khẩu của bạn:</p>
                            </div>
                            <EditForm Model="loginModel" OnValidSubmit="HandleLogin" >
                                <DataAnnotationsValidator></DataAnnotationsValidator>
                                <div class="form-group">
                                    <InputText class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5"
                                               type="text" placeholder="Tài khoản"
                                               @bind-Value="@loginModel.UserName"></InputText>
                                    <ValidationMessage For="()=>loginModel.UserName"></ValidationMessage>
                                </div>
                                <div class="form-group">
                                    <InputText class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5"
                                               type="password" placeholder="Mật khẩu" 
                                               @bind-Value="@loginModel.Password"></InputText>
                                    <ValidationMessage For="()=>loginModel.Password"></ValidationMessage>
                                </div>
                                <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8">
                                    <div class="checkbox-inline">
                                        <label class="checkbox checkbox-outline checkbox-white text-white m-0 pr-9">
                                            <InputCheckbox type="checkbox" @bind-Value="@loginModel.RememberMe"></InputCheckbox>
                                            <span></span>Ghi nhớ
                                        </label>
                                    </div>
                                    <a @onclick="HandleShowForgetPassword" class="text-white font-weight-bold">Quên mật khẩu ?</a>
                                </div>
                                <div class="form-group text-center mt-10">
                                    <button type="submit"
                                            class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Đăng nhập</button>
                                </div>
                            </EditForm>
                            <div class="mt-10">
                                <span class="opacity-70 mr-4">Chưa có tài khoản ?</span>
                                <a @onclick="HandleShowSignUp" class="text-white font-weight-bold">Đăng kí</a>
                            </div>
                        </div>
                        <!--end::Login Sign in form-->
                    }
                    @if (showSignUp)
                    {
                        <!--begin::Login Sign up form-->
                        <div class="login-signup">
                            <div class="mb-20">
                                <h3>Sign Up</h3>
                                <p class="opacity-60">Enter your details to create your account</p>
                            </div>
                            <form class="form text-center">
                                <div class="form-group">
                                    <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" 
                                           type="text" placeholder="Fullname" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" 
                                           type="text" placeholder="Email" autocomplete="off" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" 
                                           type="password" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" 
                                           type="password" placeholder="Confirm Password"/>
                                </div>
                                <div class="form-group text-left px-8">
                                    <div class="checkbox-inline">
                                        <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                                            <input type="checkbox" />
                                            <span></span>I Agree the
                                            <a href="#" class="text-white font-weight-bold ml-1">terms and conditions</a>.
                                        </label>
                                    </div>
                                    <div class="form-text text-muted text-center"></div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3 m-2">Sign Up</button>
                                    <button @onclick="HandleCloseSignUp" class="btn btn-pill btn-outline-white font-weight-bold opacity-70 px-15 py-3 m-2">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <!--end::Login Sign up form-->
                    }
                    @if (showForgetPassword)
                    {
                        <!--begin::Login forgot password form-->
                        <div class="login-forgot">
                            <div class="mb-20">
                                <h3>Forgotten Password ?</h3>
                                <p class="opacity-60">Enter your email to reset your password</p>
                            </div>
                            <form class="form" >
                                <div class="form-group mb-10">
                                    <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" 
                                           type="text" placeholder="Email" autocomplete="off" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3 m-2">Request</button>
                                    <button @onclick="HandleHiddenForgetPassword" class="btn btn-pill btn-outline-white font-weight-bold opacity-70 px-15 py-3 m-2">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <!--end::Login forgot password form-->
                    }
                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>
</body>
@inject IJSRuntime JS 

@code {
    private bool showLogin = true, showSignUp = false, showForgetPassword = false;

    private LoginRequest loginModel = new LoginRequest();

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/product");
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {


            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                navigationManager.NavigateTo("/product");
            }
        }
    }
    private async Task HandleLogin()
    {
        var result = await authService.Login(loginModel);
        if (result)
        {
            ToastService.ShowSuccess("Đăng nhập thành công", "Chúc mừng");
            navigationManager.NavigateTo("/product");
        }
        else
        {
            ToastService.ShowError("Đăng nhập thất bại", "Error");
        }
    }

    //
    private void HandleShowForgetPassword()
    {
        showLogin = false;
        showForgetPassword = true;
    }
    private void HandleHiddenForgetPassword()
    {
        showForgetPassword = false;
        showLogin = true;
    }
    private void HandleShowSignUp()
    {
        showLogin = false;
        showSignUp = true;
    }
    private void HandleCloseSignUp()
    {
        showSignUp = false;
        showLogin = true;
    }
}
