<div class="d-flex">
    <div class="me-3">
        <input type="text" class="form-control" @bind="@name" placeholder="Search..." />
    </div>
    <button class="btn btn-primary" @onclick="SearchForm">Tìm kiếm</button>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSearch { set; get; }

    private string name = "";

    private async void SearchForm()
    {
        await OnSearch.InvokeAsync(name);
    }
}
