@page "/category" 
@inject ICategoryApiClient CategoryApiClient 
@inject IToastService ToastService   
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Tabbed Subheader</h5>
                <!--end::Page Title-->
                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
                <a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a>
                <!--end::Actions-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Today</a>
                <a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Month</a>
                <a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Year</a>
                <!--end::Actions-->
                <!--begin::Daterange-->
                <a href="#" class="btn btn-sm btn-light font-weight-bold mr-2" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="text-muted font-size-base font-weight-bold mr-2" id="kt_dashboard_daterangepicker_title">Today</span>
                    <span class="text-primary font-size-base font-weight-bolder" id="kt_dashboard_daterangepicker_date">Aug 16</span>
                </a>
                <!--end::Daterange-->
                <!--begin::Dropdowns-->
                <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
                    <a href="#" class="btn btn-sm btn-clean btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="svg-icon svg-icon-success svg-icon-lg">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Files/File-plus.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </a>
                    <div class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right py-3">
                        <!--begin::Navigation-->
                        <ul class="navi navi-hover py-5">
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-drop"></i>
                                    </span>
                                    <span class="navi-text">New Group</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-list-3"></i>
                                    </span>
                                    <span class="navi-text">Contacts</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-rocket-1"></i>
                                    </span>
                                    <span class="navi-text">Groups</span>
                                    <span class="navi-link-badge">
                                        <span class="label label-light-primary label-inline font-weight-bold">new</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-bell-2"></i>
                                    </span>
                                    <span class="navi-text">Calls</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-gear"></i>
                                    </span>
                                    <span class="navi-text">Settings</span>
                                </a>
                            </li>
                            <li class="navi-separator my-3"></li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-magnifier-tool"></i>
                                    </span>
                                    <span class="navi-text">Help</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-bell-2"></i>
                                    </span>
                                    <span class="navi-text">Privacy</span>
                                    <span class="navi-link-badge">
                                        <span class="label label-light-danger label-rounded font-weight-bold">5</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                </div>
                <!--end::Dropdowns-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Page Layout-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                <div class="flex-column offcanvas-mobile w-300px w-xl-325px" id="kt_profile_aside">
                    <!--begin::Forms Widget 13-->
                    <div class="card card-custom gutter-b">
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column mb-0">
                                <span class="card-label font-size-h3 font-weight-bolder text-dark">Thêm phân loại</span>
                            </h3>
                        </div>
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <div class="mt-6">
                                <div class="text-muted mb-2 font-weight-bolder font-size-lg">Thông tin phân loại</div>
                                <!--begin::Input-->
                                <div class="form-group mb-8">
                                    <label class="font-weight-bolder">Tên</label>
                                    <input type="text" class="form-control form-control-solid form-control-lg" @bind="Name" />
                                </div>
                                <button @onclick="OnCategory" class="btn btn-primary font-weight-bolder mr-2 px-8">Lưu</button>
                                <!--end::Input-->
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--begin::Forms Widget 13-->
                    <div class="card card-custom gutter-b">
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column mb-0">
                                <span class="card-label font-size-h3 font-weight-bolder text-dark">Cập nhật phân loại</span>
                            </h3>
                        </div>
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <div class="mt-6">
                                <div class="text-muted mb-2 font-weight-bolder font-size-lg">Thông tin phân loại</div>
                                <!--begin::Input-->
                                <div class="form-group mb-8">
                                    <label class="font-weight-bolder">Id</label>
                                    <input type="text" class="form-control form-control-solid form-control-lg" @bind="Id" />
                                </div>
                                <!--begin::Input-->
                                <div class="form-group mb-8">
                                    <label class="font-weight-bolder">Tên</label>
                                    <input type="text" class="form-control form-control-solid form-control-lg" @bind="Name" />
                                </div>
                                <button @onclick="OnUpdate" class="btn btn-primary font-weight-bolder mr-2 px-8">Lưu</button>
                                <!--end::Input-->
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--begin::Forms Widget 13-->
                    <div class="card card-custom gutter-b">
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column mb-0">
                                <span class="card-label font-size-h3 font-weight-bolder text-dark">Xoá phân loại</span>
                            </h3>
                        </div>
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <div class="mt-6">
                                <div class="text-muted mb-2 font-weight-bolder font-size-lg">Thông tin phân loại</div>
                                <!--begin::Input-->
                                <div class="form-group mb-8">
                                    <label class="font-weight-bolder">Id</label>
                                    <input type="text" class="form-control form-control-solid form-control-lg" @bind="Id" />
                                </div>
                                <button @onclick="OnDelete" class="btn btn-primary font-weight-bolder mr-2 px-8">Xoá</button>
                                <!--end::Input-->
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                </div>
                <!--end::Aside-->
                <!--begin::Layout-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch gutter-b">
                        <div class="card-body">
                            <!--begin::Engage Widget 15-->
                            <div class="card card-custom mb-12">
                                <div class="card-body rounded p-0 d-flex" style="background-color:#DAF0FD;">
                                    <div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-500px p-10 p-md-20">
                                        <h1 class="font-weight-bolder text-dark">Search Goods</h1>
                                        <div class="font-size-h4 mb-8">Get Amazing Gadgets</div>
                                        <!--begin::Form-->
                                        <form class="d-flex flex-center py-2 px-6 bg-white rounded">
                                            <span class="svg-icon svg-icon-lg svg-icon-primary">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                            <input type="text" class="form-control border-0 font-weight-bold pl-2" placeholder="Search Goods" />
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" style="background-image: url(assets/media/svg/illustrations/progress.svg);"></div>
                                </div>
                            </div>
                            <!--end::Engage Widget 15-->
                            <!--begin::Section-->
                            <div class="mb-11">
                                <div class="d-flex justify-content-between align-items-center mb-7">
                                    <h2 class="font-weight-bolder text-dark font-size-h3 mb-0">Category</h2>
                                </div>
                                <div class="row">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Tên</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Categories != null)
                                            {
                                                foreach (var item in Categories)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.Name</td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <LoadingIndicator />
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Page Layout-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
@code {
    private IEnumerable<CategoryVm> Categories { get; set; }
    public int Id { get; set; }
    public string Name { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await GetCategories();
    }
    private async void OnCategory()
    {
        var result = await CategoryApiClient.CreateCategory(Name);
        if (result)
            ToastService.ShowSuccess("Tạo thành công");
        else
            ToastService.ShowError("Lỗi gì đó");

        await GetCategories();
    }
    private async void OnDelete()
    {
        var result = await CategoryApiClient.DeleteCategory(Id);
        if (result)
            ToastService.ShowSuccess("Xoá thành công");
        else
            ToastService.ShowError("Lỗi gì đó");
        await GetCategories();
    }

    private async void OnUpdate()
    {
        var result = await CategoryApiClient.UpdateCategory(Id, Name);
        if (result)
            ToastService.ShowSuccess("Cập nhật thành công");
        else
            ToastService.ShowError("Lỗi gì đó");
        await GetCategories();
    }
    private async Task GetCategories()
    {
        Categories = await CategoryApiClient.GetAll();
        Name = "";
        Id = 0;
        StateHasChanged();
    }
}
